.project {
  font-family: Tahoma;
  text-align: center;
  padding: 10px;
  margin: 10px;

  border-radius: 10px;
  border: 2px solid transparent;

  text-decoration: none;

  &-theme-dark {
    background-color: #281f31;
    color: white;
  }

  &-theme-light {
    background-color: #c2d1e5;
    color: black;
  }

  &:hover {
    border: 2px solid #00ad74;
  }
}
